.bus-link {
  cursor: pointer; }

.popover .popover-body .popover-route {
  font-size: 24px !important;
  font-weight: 700; }
  .popover .popover-body .popover-route .route-number {
    color: #0069c0; }

.popover .popover-body .bus-info {
  color: #616161;
  font-size: 14px; }
